<ng-content select="[top]"></ng-content>
<form [formGroup]="formAccounts">
    <div formArrayName="acounts">
        <div *ngFor="let ac of allAccounts.controls; let i=index" [formGroupName]="i">
            <div class="">
                <div class="row">
                    <label style="font-size: larger;">{{allAccounts.at(i).get('labels')?.value}}</label>
                    <div formArrayName="labelArray">
                        <div class="row-container">
                             <div *ngFor="let acLa of allLabelArray(i).controls; let k=index" [formGroupName]="k">
                                <input type="text" formControlName="details">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<ng-content select="[bottom]"></ng-content>