<p>address works!</p>

<form [formGroup]="addDetails">
    <div formArrayName="detailAdd">
        <div *ngFor="let df of address.controls; let j=index" [formGroupName]="j">
            <div class="row card">
                <label>Address {{j + 1}}</label><br/>
                <input type="text" formControlName="address1" placeholder="Address 1"> <br/>
            </div>
            <div class="row">
                <label>Address2</label><br/>
                <input type="text" formControlName="address2" placeholder="Address 2"> <br/>
            </div>
            <div class="row">
                <label>City</label><br/>
                <input type="text" formControlName="city" placeholder="City"> <br/>
            </div>
            <div class="row">
                <label>Landmark</label><br/>
                <input type="text" formControlName="landmark" placeholder="Landmark"> <br/>
            </div>
            <!-- <div class="row">
                <label>Pincode</label><br/>
                <input type="text" pInputText formControlName="pincode" placeholder="Pincode"> <br/>
            </div> -->

            <div class="flex flex-col gap-2">
                <label for="username">Pincode</label><br/>
                <input id="username" placeholder="text" aria-describedby="username-help" formControlName="pincode"/>
                <small id="username-help">Enter your username to reset your password.</small>
            </div>

            <hr>
        </div>
    </div>

    <button pButton label="+" (click)="addAddress()"></button>
</form>