/* PrimeIcons */
@import "tailwindcss";
@import "primeicons/primeicons.css";

/* Core PrimeNG CSS */
// @import "primeng/resources/primeng.css";

/* Theme of your choice from @primeng/themes */
// @import "@primeng/themes/aura/theme.css";
